<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <img src="./assets/logo.png" alt="">
                <h1 class="fw-light">Machine Learning for Magdalena Level </h1>
                <p class="lead">Sistema de Alertas para detección temprana de innundaciones del Rio Magdalena</p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 p-3">
            <iframe width="100%" height="450" src="https://embed.windy.com/embed2.html?lat=4.522&lon=-72.949&detailLat=7.384&detailLon=-82.925&width=650&height=450&zoom=5&level=surface&overlay=rh&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1"
                frameborder="0"></iframe>
        </div>
        <div class="col-md-6 p-5">
            <h2>Our purpose</h2>
            Flood Early Warning Systems -FEWS, are traditionally based on hydrologic and hydraulic models that rely on expensive and extensive fieldwork and on the heterogeneous engineering expertise among modelers, additionally, their calibration depends on a questionable
            hand tweak of aggregated parameters subjected to personal judgment and uncertainties from model parameters and model structure forcing the available data that overwhelmingly aren’t able to capture the spatial and temporal interactions of a
            complex hydrological system and therefore are limited on scalability and persistency over time
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h2>You will find graphs like this</h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid" src="./assets/graph1.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="./assets/graph2.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="./assets/graph3.png" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 text-center pt-5">
            <h2>Our team</h2>
            <div class="row team-member">
                <div class="col-md-4 col-sm-6 col-12">
                    <img src="./assets/andresleonardo.png" alt="">
                    <h3>Andres Leonardo Becerra</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <img src="./assets/juancarlos.png" alt="">
                    <h3>Juan Carlos Giraldo</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <img src="./assets/andresgartner.png" alt="">
                    <h3>Andres Gartner</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <img src="./assets/jhoham.png" alt="">
                    <h3>Jhoham Mauricio Garzon</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <img src="./assets/santiagocorrea.png" alt="">
                    <h3>Santiago Correa</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <img src="./assets/santiagolozano.png" alt="">
                    <h3>Santiago Enrique Lozano</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <h3>Special thanks to</h3>
    <ul>
        <li>Correlation One and MinTic for Cohort 6 of Data Science For All (DS4A).</li>
        <li>Teachers Luis Gustavo and TA Sergio Sepúlveda for their support throughout the development of the project</li>
        <li>Instructors of DS4A</li>
    </ul>
</div>