<footer class="footer">
    <div class="container">
        <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Plans</a></li>
            <li class="list-inline-item"><a href="#">Log In</a></li>
        </ul>
    </div>
    <div class="bg-light py-4">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2022 MANY Preventions All rights reserved.</p>
        </div>
    </div>
</footer>