<div class="container pt-5">
    <div class="row pt-3">
        <div class="col-md-6">
            <h2>We will make</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu fermentum lectus. Etiam nec dictum risus. Quisque semper risus massa, vel fermentum nisl pretium sed. Donec elementum dolor eu dapibus egestas. Nullam tempor non libero gravida tincidunt.
            Suspendisse tincidunt efficitur mollis. Pellentesque eleifend id risus eget placerat. Curabitur lacus dolor, luctus eget quam ut, dapibus faucibus tortor. Nam nec rhoncus tortor. Nulla mattis enim vitae massa elementum semper. Ut id imperdiet
            neque.
        </div>
        <div class="col-md-6">
            <div class="world-map" id="main"></div>
        </div>
    </div>
</div>